<section class="solution" data-parallax="scroll" data-image-src="/img/bg/net.jpg" data-bleed="50">
  <div class="container-fluid">
    <div class="row">
      <div class="title">
        <h2>Be part of the solution</h2>
      </div>
    </div>
    <div class="row cube-row">
      <div class="col-md-5 col-md-offset-1">
        <div class="footer-cube">
          <h3 id="contact">Contact Us</h3>
          <p>Drop us a line at <a href="mailto:hello@synereo.com">hello@synereo.com</a>.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="footer-cube">
          <h3>Sign up for updates</h3>
          {% include mc_form.html %}
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="solution">
  <div class="container-fluid">
    <div class="row">
      <ul class="list-inline">
        <li><a href="https://github.com/synereo/"><img src="/img/social/github_g.png"></a></li>
        <li><a href="http://www.reddit.com/r/synereo"><img src="/img/social/reddit_g.png"></a></li>
        <li><a href="http://twitter.com/synereo"><img src="/img/social/twitter_g.png"></a></li>
        <li><a href="http://facebook.com/synereo"><img src="/img/social/facebook_g.png"></a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $("nav.topbar li a[href^='#']").on('click', function(e) {
       e.preventDefault();
       var hash = this.hash;
       $('html, body').animate({
         scrollTop: $(hash).offset().top
       }, 300, function(){
         window.location.hash = hash;
       });
    });

    $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }

        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');

        // Replace image with new SVG
        $img.replaceWith($svg);

    }, 'xml');

});
  });
</script>
