<nav class="topbar {{ include.fixed }}">
  <div class="container-fluid">
    <div class="row">
      <span class="logo"><a href="/"><img src="/img/synereo/logo_h.png"></a></span>
      <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="https://crowdsale.synereo.com" target="_blank">Crowdsale</a></li>
        <li><a href="/learn-more/" target="_blank">Learn More</a></li>
        <li><a href="/whitepapers/synereo.pdf" target="_blank">Whitepaper</a></li>
        <li><a href="http://blog.synereo.com" target="_blank">Blog</a></li>
        <li><a href="https://discuss.synereo.com" target="_blank">Discuss</a></li>
        <li><a href="https://discuss.synereo.com/t/synereo-about-us/52468">About Us</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
