@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed:400,700);

body {
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;

    nav.topbar {
        background-color: rgba(0, 0, 0, 0.9);
        padding-left: 15px;
        padding-right: 20px;
        &.fixed {
            position: fixed;
            z-index: 1000;
            width: 100%;
        }
        span {
            float: left;
            img {
                padding: 9px 0px 5px 6px;
            }
        }
        ul {
            float: right;
            padding-top: 17px;
            li {
                padding-left: 19px;
                a {
                    text-transform: uppercase;
                    color: #fff;
                }
                a:hover {
                    color: $synereo-blue;
                    text-decoration: none;
                }
            }
        }
    }

    section.solution {
        background-color: #000;
        background: url(/img/bg/net.jpg) no-repeat;
        background-size: cover;
        padding-top: 20px;
        padding-bottom: 90px;
        font-size: 1.2em;

        .title {
            text-align: center;
            h2, h4 { color: $synereo-blue; }
        }

        p {
            color: #fff;
            font-size: 1.15em;
        }

        .cube-row {
            padding-top: 40px;
        }

        .footer-cube {
            padding: 1px 15px;
            background: rgba(255, 255, 255, 0.1);
            h3 {
                color: #fff;
            }
        }

        form.subscribe {
            padding-bottom: 13px;
            label {
                text-transform: uppercase;
                color: #fff;
            }
            input {
                display: block;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                transition: background 0.2s linear 0s;
                border: 0px;
                padding: 7px;
                color: #fff;
            }
            input:focus {
                background: rgba(0, 0, 0, 0.8);
            }
            button {
                border-radius: 2px;
                line-height: 1;
                padding: 6px 8px;
                background: $synereo-blue;
                color: #fff;
                border: 0px;
            }
            button:hover {
                background: darken($synereo-blue, 15%);
            }
        }
    }

    footer {
        background-color: #121212;
        text-align: center;
        padding-top: 20px;
        height: 90px;
    }
}
