body {
    section.main-graphic {
        background: url(/img/bg/main.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 200px;
        div.strip {
            background-color: rgba(0, 0, 0, 0.5);
            padding-top: 7px;
            padding-bottom: 13px;
            margin-bottom: 100px;
            div.logo {
                text-align: right;
                padding-right: 3px;
                img {
                    height: 160px;
                }
            }
            div.title {
                padding-left: 3px;
                h1 {
                    color: #fff;
                    font-size: 1.7em;
                    font-weight: 300;
                    margin-bottom: 3px;
                }
                h2 {
                    margin-top: 0px;
                    color: #fff;
                    text-transform: uppercase;
                }
            }
            div.video {
                iframe {
                    position: absolute;
                    margin-top: -100px;
                    border: 3px $synereo-blue solid;
                    box-shadow: -5px 5px 15px #000;
                }
            }
        }
        div.features {
            padding-bottom: 40px;
            div.feature {
                img {
                    float: left;
                    margin: 15px;
                }
                h3 {
                    margin: 18px 0px 2px;
                    font-size: 1.4em;
                    &.orange { color: rgb(246, 124, 0); }
                    &.blue { color: rgb(106, 200, 255); }
                    &.gray { color: rgb(149, 149, 149); }
                    &.green { color: rgb(154, 200, 27); }
                }
                p {
                    color: #fff;
                }
            }
            div.down {
                padding-top: 40px;
                text-align: center;
            }
        }
    }

    section.your-network {
        background: url(/img/uploads/YourNetwork_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.evolution {
        min-height: 550px;
        background: transparent;
        text-align: center;
        padding-top: 200px;
    }

    section.network {
        background-color: $synereo-dark-gray-bg;
        padding-top: 45px;
        padding-bottom: 35px;
        div.feature {
            text-align: center;
            h3 {
                color: #fff;
            }
            p {
                color: #b1b1b1;
                font-size: 1.2em;
            }
        }
    }

    section.your-coin {
        background: url(/img/uploads/YourCoin_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.amp {
        min-height: 600px;
        div.caption {
            padding-left: 15%;
            padding-top: 10%;
            h2 {
                color: $synereo-orange;
                font-size: 3.4em;
                margin-bottom: 1px;
                font-weight: bold;
            }
            h3.regular {
                margin-top: 1px;
                margin-bottom: 1px;
                color: #fff;
                font-size: 2.4em;
            }
            h3.condensed {
                margin-top: 1px;
                color: #fff;
                font-size: 3.2em;
                font-weight: bold;
                text-transform: uppercase;
            }
            h3.secondary {
                margin-top: 1px;
                color: #fff;
                font-size: 2em;
                margin-bottom: 40px;
            }
            a {
                border: 1px $synereo-orange solid;
                color: $synereo-orange;
                padding: 9px 17px;
                text-transform: uppercase;
                font-size: 1.4em;
            }
        }
    }

    section.your-technology {
        background: url(/img/uploads/YourTechnology_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.technology {
        background: url(/img/bg/technology.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        background-size: cover;
        min-height: 550px;
        div.caption {
            padding-left: 15%;
            padding-top: 10%;
            h2 {
                color: #fff;
                font-size: 2.4em;
                margin-bottom: 1px;
            }
            h3 {
                margin-top: 1px;
                font-family: "Ubuntu Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #fff;
                font-size: 3.2em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 40px;
            }
            a {
                border: 1px #fff solid;
                color: #fff;
                padding: 9px 17px;
                text-transform: uppercase;
                font-size: 1.4em;
            }
        }
    }

    section.your-economy {
        background: url(/img/uploads/YourEconomy_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.economy {
        background: url(/img/bg/attention.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        background-size: cover;
        min-height: 550px;
        div.caption {
            padding-left: 15%;
            padding-top: 10%;
            h2 {
                font-family: "Ubuntu Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #fff;
                font-size: 2.4em;
                margin-bottom: 1px;
            }
            h3.regular {
                margin-top: 1px;
                margin-bottom: 1px;
                color: #fff;
                font-size: 3.2em;
                font-weight: bold;
                text-transform: uppercase;
            }
            h3.condensed {
                margin-top: 1px;
                font-family: "Ubuntu Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #fff;
                font-size: 3.2em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 40px;
            }
            a {
                border: 1px #fff solid;
                color: #fff;
                padding: 9px 17px;
                text-transform: uppercase;
                font-size: 1.4em;
            }
        }
    }

    section.your-team {
        background: url(/img/uploads/YourTeam_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.team {
        background-color: $synereo-blue;
        padding-top: 30px;
        padding-bottom: 70px;
        div.team-member {
            text-align: center;
            h3 {
                font-weight: bold;
            }
            p {
                min-height: 180px;
            }
            img {
                border-radius: 115px;
                box-shadow: 0 0 0 3px #ff9000,
                            0 0 0 9px #484949;
            }
            div.social {
                padding-top: 13px;
                padding-bottom: 11px;
                border-bottom: 1px solid #fff;
                a {
                    height: 42px;
                    width: 42px;
                    margin: 3px 7px;
                    display: inline-block;
                }
                a.email {
                    background: url("/img/social/mail.png") no-repeat scroll center top transparent;
                }
                a.linkedin {
                    background: url("/img/social/linkedin.png") no-repeat scroll center top transparent;
                }
                a.github {
                    background: url("/img/social/github.png") no-repeat scroll center top transparent;
                }
                a.twitter {
                    background: url("/img/social/twitter.png") no-repeat scroll center top transparent;
                }
                a.facebook {
                    background: url("/img/social/facebook.png") no-repeat scroll center top transparent;
                }
                a.email:hover {
                    background: url("/img/social/mail_g.png") no-repeat scroll center top transparent;
                }
                a.linkedin:hover {
                    background: url("/img/social/linkedin_g.png") no-repeat scroll center top transparent;
                }
                a.github:hover {
                    background: url("/img/social/github_g.png") no-repeat scroll center top transparent;
                }
                a.twitter:hover {
                    background: url("/img/social/twitter_g.png") no-repeat scroll center top transparent;
                }
                a.facebook:hover {
                    background: url("/img/social/facebook_g.png") no-repeat scroll center top transparent;
                }
            }
        }
    }

    section.press {
        background: url(/img/bg/press.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-size: cover;
        padding: 30px 20px 40px 20px;
        text-align: center;
        img {
            margin: 10px;
            max-width: 150px;
            max-height: 75px;
        }
        img:hover {
            opacity: 0.4;
        }
        div.row {
            div.col-md-3 {
                line-height: 75px;
                vertical-align: 75px;
            }
        }
    }
}
