body {
    section.main-graphic {
        background: url(/img/bg/main_clean.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 50.36%;
        min-height: 350px;
        div.images {
            margin-top: -47%;
            text-align: center;
            img {
                &.logo {
                    width: 22%;
                    display: block;
                }
                &.crowdsale {
                    width: 50%;
                    padding-bottom: 2%;
                    display: block;
                }
                &.amp {
                    width: 7%;
                }
                margin: 0 auto;
            }
            div.countdown {
                img.amp {
                    margin-bottom: 2.5%;
                    width: 6%;
                }
                span.circle {
                    border: 1px solid rgba(200, 200, 200, 0.5);
                    border-radius: 50%;
                    display: inline-block;
                    width: 6%;
                    height: 0;
                    padding-bottom: 6%;
                    margin: 0px 6px;
                    color: #aaa;
                    span.value {
                        font-size: 250%;
                        display: inline-block;
                        line-height: 55%;
                        padding-top: 28%;
                    }
                    span.title {
                        display: block;
                        padding-top: 8%;
                        font-size: 75%;
                    }
                }
            }
        }
        div.links {
            margin-top: 2%;
            text-align: center;
            @media all and (max-width: 750px) {
                display: none;
            }
            .cta {
                padding: 11px 13px 8px 13px;
                margin: 7px;
                font-size: 1.3em;
                border-width: 1px;
                border-style: solid;
                text-transform: uppercase;
            }
            .cta-blue {
                color: $synereo-blue;
                border-color: $synereo-blue;
            }
            .cta-orange {
                color: $synereo-orange;
                border-color: $synereo-orange;
            }
            img.subtitle {
                width: 35%;
                margin: 2% auto 0 auto;
                display: block;
            }
        }
    }

    section.your-network {
        background: url(/img/uploads/YourNetwork_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.evolution {
        min-height: 550px;
        background: transparent;
        text-align: center;
        padding-top: 200px;
    }

    section.network {
        background-color: $synereo-dark-gray-bg;
        padding-top: 45px;
        padding-bottom: 35px;
        div.feature {
            text-align: center;
            h3 {
                color: #fff;
            }
            p {
                color: #b1b1b1;
                font-size: 1.2em;
            }
        }
    }

    section.your-coin {
        background: url(/img/uploads/YourCoin_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.amp {
        min-height: 600px;
        div.caption {
            padding-left: 15%;
            padding-top: 10%;
            h2 {
                color: $synereo-orange;
                font-size: 3.4em;
                margin-bottom: 1px;
                font-weight: bold;
            }
            h3.regular {
                margin-top: 1px;
                margin-bottom: 1px;
                color: #fff;
                font-size: 2.4em;
            }
            h3.condensed {
                margin-top: 1px;
                color: #fff;
                font-size: 3.2em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 40px;
            }
            a {
                border: 1px $synereo-orange solid;
                color: $synereo-orange;
                padding: 9px 17px;
                text-transform: uppercase;
                font-size: 1.4em;
            }
        }
    }

    section.technology {
        background: url(/img/bg/technology.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        background-size: cover;
        min-height: 550px;
        div.caption {
            padding-left: 15%;
            padding-top: 10%;
            h2 {
                color: #fff;
                font-size: 2.4em;
                margin-bottom: 1px;
            }
            h3 {
                margin-top: 1px;
                font-family: "PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #fff;
                font-size: 3.2em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 40px;
            }
            a {
                border: 1px #fff solid;
                color: #fff;
                padding: 9px 17px;
                text-transform: uppercase;
                font-size: 1.4em;
            }
        }
    }

    section.your-economy {
        background: url(/img/uploads/YourEconomy_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.economy {
        background: url(/img/bg/attention.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        background-size: cover;
        min-height: 550px;
        div.caption {
            padding-left: 15%;
            padding-top: 10%;
            h2 {
                font-family: "PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #fff;
                font-size: 2.4em;
                margin-bottom: 1px;
            }
            h3.regular {
                margin-top: 1px;
                margin-bottom: 1px;
                color: #fff;
                font-size: 3.2em;
                font-weight: bold;
                text-transform: uppercase;
            }
            h3.condensed {
                margin-top: 1px;
                font-family: "PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #fff;
                font-size: 3.2em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 40px;
            }
            a {
                border: 1px #fff solid;
                color: #fff;
                padding: 9px 17px;
                text-transform: uppercase;
                font-size: 1.4em;
            }
        }
    }

    section.your-team {
        background: url(/img/uploads/YourTeam_title.jpg) no-repeat;
        background-color: rgb(18, 18, 18);
        background-position: center;
        height: 150px;
    }

    section.team {
        background-color: $synereo-blue;
        padding-top: 30px;
        padding-bottom: 70px;
        div.team-member {
            text-align: center;
            h3 {
                font-weight: bold;
            }
            p {
                min-height: 180px;
            }
            img {
                border-radius: 115px;
                box-shadow: 0 0 0 3px #ff9000,
                            0 0 0 9px #484949;
            }
            div.social {
                padding-top: 13px;
                padding-bottom: 11px;
                border-bottom: 1px solid #fff;
                a {
                    height: 42px;
                    width: 42px;
                    margin: 3px 7px;
                    display: inline-block;
                }
                a.email {
                    background: url("/img/social/mail.png") no-repeat scroll center top transparent;
                }
                a.linkedin {
                    background: url("/img/social/linkedin.png") no-repeat scroll center top transparent;
                }
                a.github {
                    background: url("/img/social/github.png") no-repeat scroll center top transparent;
                }
                a.twitter {
                    background: url("/img/social/twitter.png") no-repeat scroll center top transparent;
                }
                a.facebook {
                    background: url("/img/social/facebook.png") no-repeat scroll center top transparent;
                }
                a.email:hover {
                    background: url("/img/social/mail_g.png") no-repeat scroll center top transparent;
                }
                a.linkedin:hover {
                    background: url("/img/social/linkedin_g.png") no-repeat scroll center top transparent;
                }
                a.github:hover {
                    background: url("/img/social/github_g.png") no-repeat scroll center top transparent;
                }
                a.twitter:hover {
                    background: url("/img/social/twitter_g.png") no-repeat scroll center top transparent;
                }
                a.facebook:hover {
                    background: url("/img/social/facebook_g.png") no-repeat scroll center top transparent;
                }
            }
        }
    }
}
