@font-face {
    font-family: 'Myriad';
    src: url('/fonts/myriad.eot');
    src: url('/fonts/myriad.eot?#iefix') format('embedded-opentype'),
         url('/fonts/myriad.woff') format('woff'),
         url('/fonts/myriad.ttf') format('truetype'),
         url('/fonts/myriad.svg#Myriad') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Myriad","Helvetica Neue",Helvetica,Arial,sans-serif;

    nav.topbar {
        background-color: #000;
        padding-left: 15px;
        padding-right: 20px;
        span {
            img {
                padding: 9px 0px 5px 6px;
                height: 60px;
            }
        }
        ul {
            float: right;
            padding-top: 17px;
            li {
                padding-left: 19px;
                a {
                    text-transform: uppercase;
                    color: #fff;
                }
                a:hover {
                    color: $synereo-blue;
                    text-decoration: none;
                }
            }
        }
    }

    section.main-graphic {
        background: url(/img/uploads/Synereo1.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
    }

    section.your-network {
        background: url(/img/uploads/YourNetwork_title.jpg) no-repeat;
        background-color: $synereo-dark-gray-bg;
        background-position: center;
        height: 150px;
    }

    section.evolution {
        background: url(/img/uploads/network.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 700px;
        text-align: center;
        padding-top: 200px;
        div {
            font-size: 5em;
            color: #fff;
        }
        div.t1 {
            letter-spacing: 0.1em;

        }
        div.t2 {
            text-transform: uppercase;
            font-weight: 900;
        }
    }

    section.network {
        background-color: $synereo-dark-gray-bg;
        padding-top: 45px;
        padding-bottom: 35px;
        div.feature {
            text-align: center;
            h3 {
                color: #fff;
            }
            p {
                color: #b1b1b1;
                font-size: 1.2em;
            }
        }
    }

    section.your-coin {
        background: url(/img/uploads/YourCoin_title.jpg) no-repeat;
        background-color: $synereo-dark-gray-bg;
        background-position: center;
        height: 150px;
    }

    section.amp {
        background: url(/img/uploads/amp1.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 700px;
        padding-top: 200px;
        padding-left: 40px;
    }

    section.economy {
        background-color: $synereo-dark-gray-bg;
        div.bullet {
            clear: both;
            img {
                float: left;
            }
            h3 {
                color: $synereo-blue;
            }
        }
    }

    section.your-team {
        background: url(/img/uploads/YourTeam_title.jpg) no-repeat;
        background-color: $synereo-dark-gray-bg;
        background-position: center;
        height: 150px;
    }

    section.team {
        background-color: $synereo-blue;
        padding-top: 30px;
        padding-bottom: 70px;
        div.team-member {
            text-align: center;
            h3 {
                font-weight: bold;
            }
            img {
                border-radius: 115px;
                box-shadow: 0 0 0 3px #ff9000,
                            0 0 0 9px #484949;
            }
            div.social {
                padding-top: 13px;
                padding-bottom: 11px;
                border-bottom: 1px solid #fff;
                a {
                    height: 42px;
                    width: 42px;
                    margin: 3px 7px;
                    display: inline-block;
                }
                a.email {
                    background: url("/img/social/mail_icon.png") no-repeat scroll center top transparent;
                }
                a.linkedin {
                    background: url("/img/social/linkedin_icon.png") no-repeat scroll center top transparent;
                }
                a.github {
                    background: url("/img/social/github_icon.png") no-repeat scroll center top transparent;
                }
                a.twitter {
                    background: url("/img/social/twitter_icon.png") no-repeat scroll center top transparent;
                }
                a.facebook {
                    background: url("/img/social/facebook_icon.png") no-repeat scroll center top transparent;
                }
            }
        }
    }

    section.solution {
        background-color: #000;
        background: url(/img/bg/net.jpg) no-repeat;
        background-size: cover;
        padding-top: 20px;

        .title {
            text-align: center;
            h2, h4 { color: $synereo-blue; }
        }

        p {
            color: #fff;
            font-size: 1.15em;
        }

        .cube-row {
            padding-top: 40px;
        }

        .footer-cube {
            padding: 1px 15px;
            background: rgba(255, 255, 255, 0.1);
            h3 {
                color: #fff;
            }
        }

        form.subscribe {
            padding-bottom: 13px;
            label {
                text-transform: uppercase;
            }
            input {
                display: block;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                transition: background 0.2s linear 0s;
                border: 0px;
                padding: 7px;
            }
            input:focus {
                background: rgba(0, 0, 0, 0.8);
            }
            button {
                border-radius: 2px;
                line-height: 1;
                padding: 6px 8px;
                background: $synereo-blue;
                color: #fff;
                border: 0px;
            }
            button:hover {
                background: darken($synereo-blue, 15%);
            }
        }
    }

    footer {
        background-color: #121212;
        text-align: center;
        padding-top: 20px;
        height: 90px;
    }
}