@font-face {
    font-family: 'Myriad';
    src: url('/fonts/myriad.eot');
    src: url('/fonts/myriad.eot?#iefix') format('embedded-opentype'),
         url('/fonts/myriad.woff') format('woff'),
         url('/fonts/myriad.ttf') format('truetype'),
         url('/fonts/myriad.svg#Myriad') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Myriad","Helvetica Neue",Helvetica,Arial,sans-serif;

    nav.topbar {
        background-color: #000;
        span {
            img {
                padding: 9px 0px 5px 6px;
                height: 60px;
            }
        }
        ul {
            float: right;
            padding-top: 17px;
            li {
                padding-left: 19px;
                a {
                    text-transform: uppercase;
                    color: #fff;
                }
                a:hover {
                    color: $synereo-blue;
                    text-decoration: none;
                }
            }
        }
    }

    nav.sidebar {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        right: 0;
        width: 270px;
        height: 100%;
        color: #fff;
        ul {
            padding-top: 30px;
            padding-left: 0px;
            li {
                list-style: none;
                padding-left: 20px;
                line-height: 2em;
            }
            li.attention-model {
                color: $synereo-blue;
            }
            li.attention-model-active {
                background-color: rgba(47, 172, 226, 0.6);
            }
            li.technology {
                color: $synereo-orange;
            }
            li.technology-active {
                background-color: rgba(255, 144, 0, 0.6);
            }
        }
    }

    h2, h3 {
        text-transform: uppercase;
    }

    section {
        color: #fff;
        padding-top: 15px;
        padding-bottom: 40px;
    }

    section.attention-model {
        background-color: #000;
        background: url(/img/bg/axon.jpg) no-repeat;
        background-size: cover;
        height: 400px;
        padding-top: 110px;
        h2 { color: $synereo-blue; }
        p {
            color: #fff;
            font-size: 1.45em;
        }
    }

    section.reo {
        background-color: $synereo-light-gray-bg;
    }

    .light-gray-gradient {
        background: $synereo-light-gray-bg;
        background: -moz-radial-gradient(center, ellipse cover,  $synereo-light-gray-bg 0%, darken($synereo-light-gray-bg, 9%) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$synereo-light-gray-bg), color-stop(100%,darken($synereo-light-gray-bg, 9%)));
        background: -webkit-radial-gradient(center, ellipse cover,  $synereo-light-gray-bg 0%,darken($synereo-light-gray-bg, 9%) 100%);
        background: -o-radial-gradient(center, ellipse cover,  $synereo-light-gray-bg 0%,darken($synereo-light-gray-bg, 9%) 100%);
        background: -ms-radial-gradient(center, ellipse cover,  $synereo-light-gray-bg 0%,darken($synereo-light-gray-bg, 9%) 100%);
        background: radial-gradient(ellipse at center,  $synereo-light-gray-bg 0%,darken($synereo-light-gray-bg, 9%) 100%);
    }

    .dark-gray-gradient {
        background: $synereo-dark-gray-bg;
        background: -moz-radial-gradient(center, ellipse cover,  $synereo-dark-gray-bg 0%, darken($synereo-dark-gray-bg, 9%) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$synereo-dark-gray-bg), color-stop(100%,darken($synereo-dark-gray-bg, 9%)));
        background: -webkit-radial-gradient(center, ellipse cover,  $synereo-dark-gray-bg 0%,darken($synereo-dark-gray-bg, 9%) 100%);
        background: -o-radial-gradient(center, ellipse cover,  $synereo-dark-gray-bg 0%,darken($synereo-dark-gray-bg, 9%) 100%);
        background: -ms-radial-gradient(center, ellipse cover,  $synereo-dark-gray-bg 0%,darken($synereo-dark-gray-bg, 9%) 100%);
        background: radial-gradient(ellipse at center,  $synereo-dark-gray-bg 0%,darken($synereo-dark-gray-bg, 9%) 100%);
    }

    section.current {
        background-color: $synereo-dark-gray-bg;
    }

    section.amps {
        background-color: $synereo-blue;
        h2 { color: #fff; }
        p { color: #000; }
    }

    section.technology {
        background-color: #000;
        background: url(/img/bg/synapse.jpg) no-repeat;
        background-size: cover;
        height: 400px;
        padding-top: 60px;
        h2 { color: $synereo-orange; }
        p {
            color: #fff;
            font-size: 1.45em;
        }
    }

    section.dendronet {
        background-color: $synereo-light-gray-bg;
    }

    section.specialk {
        background-color: $synereo-dark-gray-bg;
    }

    section.smart-contracts {
        background-color: $synereo-orange-bg;
        h2 { color: #fff; }
        p { color: #000; }
    }

    section.censorship-resilience {
        background-color: $synereo-dark-gray-bg;
    }

    footer.solution {
        background-color: #000;
        background: url(/img/bg/net.jpg) no-repeat;
        background-size: cover;
        height: 400px;
        padding-top: 20px;

        .title {
            text-align: center;
            h2, h4 { color: $synereo-blue; }
        }

        p {
            color: #fff;
            font-size: 1.45em;
        }

        .footer-cube {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}
