@font-face {
    font-family: 'Myriad';
    src: url('/fonts/myriad.eot');
    src: url('/fonts/myriad.eot?#iefix') format('embedded-opentype'),
         url('/fonts/myriad.woff') format('woff'),
         url('/fonts/myriad.ttf') format('truetype'),
         url('/fonts/myriad.svg#Myriad') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Myriad","Helvetica Neue",Helvetica,Arial,sans-serif;

    nav.sidebar {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        right: 0;
        width: 270px;
        height: 100%;
        color: #fff;
        ul {
            padding-top: 30px;
            padding-left: 0px;
            li {
                list-style: none;
                padding-left: 20px;
                line-height: 2em;
            }
            li.attention-model {
                color: #2face2;
            }
            li.attention-model-active {
                background-color: rgba(47, 172, 226, 0.6);
            }
            li.technology {
                color: #ff9000;
            }
            li.technology-active {
                background-color: rgba(255, 144, 0, 0.6);
            }
        }
    }

    h2, h3 {
        text-transform: uppercase;
    }

    section {
        color: #fff;
        p {
            font-size: 1.45em;
        }
    }

    section.attention-model {
        background-color: #000;
        background: url(/img/bg/axon.jpg) no-repeat;
        background-size: cover;
        height: 400px;
        padding-top: 110px;
        h2 { color: #2face2; }
        p { color: #fff; }
    }

    section.reo {
        background-color: #b1b1b1;
    }

    section.current {
        background-color: #404040;
    }

    section.amps {
        background-color: #2face2;
        h2 { color: #fff; }
        p { color: #000; }
    }

    section.technology {
        background-color: #000;
        h2 { color: #ff9000; }
        p {color: #fff; }
    }

    section.dendronet {
        background-color: #b1b1b1;
    }

    section.specialk {
        background-color: #404040;
    }

    section.smart-contracts {
        background-color: #ff9000;
        h2 { color: #fff; }
        p { color: #000; }
    }
}
