<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Decentralized and Distributed Social Network">
    <link rel="canonical" href="http://www.synereo.com/"/>

    <title>Synereo - The Decentralized and Distributed Social Network</title>

    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="topbar">
      <div class="container-fluid">
        <div class="row">
          <span class="logo"><img src="/img/synereo/logo_transparent80.png"></span>
          <ul class="list-inline">
            <li><a href="/">Home</a></li>
            <li><a href="/learn-more/">Learn More</a></li>
            <li><a href="/whitepapers/synereo.pdf">Whitepaper</a></li>
            <li><a href="http://blog.synereo.com">Blog</a></li>
            <li><a href="https://discuss.synereo.com">Discuss</a></li>
            <li><a href="/#contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="main-graphic"></section>

    <section class="your-network"></section>

    <section class="evolution" data-parallax="scroll" data-image-src="/img/bg/network.jpg">
      <img src="/img/uploads/Internet_OnPicTitle.png">
    </section>

    <section class="network">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 feature">
            <img src="/img/icons/nextgen.png">
            <h3>Next-gen social network</h3>
            <p>Your attention is scarce, precious</br> and powerful.</br> It’s time for it to work for you.</p>
          </div>
          <div class="col-md-3 feature">
            <img src="/img/icons/fullydecentralized.png">
             <h3>Fully decentralized</h3>
             <p>There’s no single point of failure.</br> The network cannot be taken</br> down or hijacked.</p>
          </div>
          <div class="col-md-3 feature">
            <img src="/img/icons/bewho.png">
            <h3>Be who you want</h3>
            <p>Your self-expression varies across</br> networks. Construct and present</br> your identity as you see fit.</p>
          </div>
          <div class="col-md-3 feature">
            <img src="/img/icons/yourdata.png">
            <h3>Your data is yours</h3>
            <p>Completely spy-proof.</br> Only you decide who can view</br> your profile and content</p>
          </div>
        </div>
      </div>
    </section>

    <section class="your-coin"></section>

    <section class="amp" data-parallax="scroll" data-image-src="/img/bg/amp1.jpg">
      <img src="/img/uploads/Amp_OnPicTitle.png">
    </section>

    <section class="economy">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 graphic">
            <img src="/img/icons/info-circle.jpg" width="500">
          </div>
          <div class="col-md-6">
            <div class="bullet">
              <img src="/img/icons/campaign.png">
              <h3>Advertisers set up campaigns</h3>
              <p>Synereo provides them with the tools necessary to reach their natural audiences.</p>
            </div>
            <div class="bullet">
              <img src="/img/icons/content.png">
              <h3>Content reaches engaged audiences</h3>
              <p>The campaign reaches audiences most likely to react positively and interact with them. Users can always opt out of all marketing activity.</p>
            </div>
            <div class="bullet">
              <img src="/img/icons/power.png">
              <h3>The power of AMPing</h3>
              <p> Users use their AMPs to charge content they care about and boost its proliferation across the network. They can also exchange AMPs internally or through 3rd party currency platforms.</p>
            </div>
            <div class="bullet">
              <img src="/img/icons/reward.png">
              <h3>User attention is rewarded</h3>
              <p>Users receive AMPs in exchange for their attention.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="your-team"></section>

    <section class="team">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 team-member">
            <img src="/img/team/dor.jpg">
            <h3>Dor Konforty</h3>
            <h4>CEO, Architect</h4>
            <p>Dor is an expert on collaboration on the net and the wisdom of crowds. Has a master’s degree in neurobiology from an interdisciplinary brain research program in Tel-Aviv University. A graduate of the Israeli Air Force computer unit. Has been living and breathing crypto since early 2011.<br/> A child of the Internet.</p>
            <div class="social">
              <a class="email" href="mailto:dor@synereo.com"></a>
              <a class="facebook" href="https://www.facebook.com/elokane"></a>
              <a class="linkedin" href="https://www.linkedin.com/profile/view?id=43616802"></a>
            </div>
          </div>
          <div class="col-md-3 team-member">
            <img src="/img/team/andy.jpg">
            <h3>Anderson McCutcheon</h3>
            <h4>President, B2B</h4>
            <p>Andy comes from a diverse programming background, having served in IDF’s 8200 unit and developed real-time climate control &amp; management systems. Having built several successful communities, he has spent the last few years managing marketing for the world’s biggest real money gaming brands.<br/> Loves lamp.</p>
            <div class="social">
              <a class="email" href="mailto:andy@synereo.com"></a>
              <a class="twitter" href="http://www.twitter.com/terranozergus"></a>
              <a class="linkedin" href="http://www.linkedin.com/in/ender"></a>
            </div>
          </div>
          <div class="col-md-3 team-member">
            <img src="/img/team/yuval.jpg">
            <h3>Yuval Adam</h3>
            <h4>CTO</h4>
            <p>Yuval is a full-stack technologist, experienced in building distributed web services, through deploying wireless mesh networks, to embedded systems development. Holds a B.Sc in Computer Sciences from Ben-Gurion University. Founded the Tel-Aviv chapter of CryptoParty, advocating for privacy and digital liberties.</p>
            <div class="social">
              <a class="email" href="mailto:yuval@synereo.com"></a>
              <a class="twitter" href="http://twitter.com/yuvadm"></a>
              <a class="github" href="https://github.com/yuvadm"></a>
            </div>
          </div>
          <div class="col-md-3 team-member">
            <img src="/img/team/greg.jpg">
            <h3>Lucius Greg Meredith</h3>
            <h4>Mathemagician</h4>
            <p>Greg was the principal architect of Microsoft’s BizTalk’s Process Orchestration, sparking several industry standards including WSDL (of which Greg is a co-author). Greg holds many patents and has published many papers, including seminal papers on reflective higher-order calculi. Supports his math habit by working in computing.</p>
            <div class="social">
              <a class="email" href="mailto:greg@synereo.com"></a>
              <a class="twitter" href="https://twitter.com/leithaus"></a>
              <a class="github" href="https://github.com/leithaus"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="solution" data-parallax="scroll" data-image-src="/img/bg/net.jpg">
      <div class="container-fluid">
        <div class="row">
          <div class="title">
            <h2>Be part of the solution</h2>
            <h4>Drop us a line</h4>
          </div>
        </div>
        <div class="row cube-row">
          <div class="col-md-5 col-md-offset-1">
            <div class="footer-cube">
              <h3 id="contact">Contact Us</h3>
              <p>Email: <a href="mailto:founders@synereo.com">founders@synereo.com</a></p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="footer-cube">
              <h3>Sign up for updates</h3>
              <form action="//synereo.us9.list-manage.com/subscribe/post?u=ae1fbeb3801174c1ec952ce8b&amp;id=d723ef8fe9" method="post" class="subscribe" target="_blank">
                <div class="form-group">
                  <label for="subscribe-rmeil">Name</label>
                  <input type="text" id="subscribe-email">
                </div>
                <div class="form-group">
                  <label for="subscribe-text">Email</label>
                  <input type="email" id="subscribe-text">
                </div>
                <div class="form-group" style="position: absolute; left: -5000px;">
                  <input type="text" name="b_ae1fbeb3801174c1ec952ce8b_d723ef8fe9" tabindex="-1" value="">
                </div>
                <button type="submit" class="btn btn-default">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="solution">
      <div class="container-fluid">
        <div class="row">
          <ul class="list-inline">
            <li><a href="https://github.com/synereo/"><img src="/img/social/github_g.png"></a></li>
            <li><a href="http://www.reddit.com/r/synereo"><img src="/img/social/reddit_g.png"></a></li>
            <li><a href="http://twitter.com/synereo"><img src="/img/social/twitter_g.png"></a></li>
            <li><a href="http://facebook.com/synereo"><img src="/img/social/facebook_g.png"></a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/ext/parallax.min.js"></script>
    <script>
    $(document).ready(function() {
      $('div.team-member img').hover(
        function() {
          $(this).attr('src', $(this).attr('src').replace('.jpg', '_h.jpg'));
        },
        function() {
          $(this).attr('src', $(this).attr('src').replace('_h.jpg', '.jpg'));
        }
      );
    });</script>
  </body>
</html>
