<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Synereo</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="topbar">
      <div class="container-fluid">
        <div class="row">
          <span class="logo"><img src="/img/synereo/logo_transparent80.png"></span>
          <ul class="list-inline">
            <li><a href="/">Home</a></li>
            <li><a href="/learn-more/">Learn More</a></li>
            <li><a href="/">Whitepaper</a></li>
            <li><a href="https://discuss.synereo.com">Discuss</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="main-graphic"></section>

    <section class="your-network"></section>

    <section class="evolution">
      <img src="/img/uploads/Internet_OnPicTitle.png">
    </section>

    <section class="network">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 feature">
            <img src="/img/icons/nextgen.png">
            <h3>Next-gen social network</h3>
            <p>Your attention is scarce, precious</br> and powerful.</br> It’s time for it to work for you.</p>
          </div>
          <div class="col-md-3 feature">
            <img src="/img/icons/fullydecentralized.png">
             <h3>Fully decentralized</h3>
             <p>There’s no single point of failure.</br> The network cannot be taken</br> down or hijacked.</p>
          </div>
          <div class="col-md-3 feature">
            <img src="/img/icons/bewho.png">
            <h3>Be who you want</h3>
            <p>Your self-expression varies across</br> networks. Construct and present</br> your identity as you see fit.</p>
          </div>
          <div class="col-md-3 feature">
            <img src="/img/icons/yourdata.png">
            <h3>Your data is yours</h3>
            <p>Completely spy-proof.</br> Only you decide who can view</br> your profile and content</p>
          </div>
        </div>
      </div>
    </section>

    <section class="your-coin"></section>

    <section class="amp">
      <img src="/img/uploads/Amp_OnPicTitle.png">
    </section>


    <section class="solution">
      <div class="container-fluid">
        <div class="row">
          <div class="title">
            <h2>Be part of the solution</h2>
            <h4>Drop us a line</h4>
          </div>
        </div>
        <div class="row cube-row">
          <div class="col-md-5 col-md-offset-1">
            <div class="footer-cube">
              <h3>Contact Us</h3>
              <p>Email: <a href="mailto:founders@synereo.com">founders@synereo.com</a></p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="footer-cube">
              <h3>Sign up for updates</h3>
              <form action="//synereo.us9.list-manage.com/subscribe/post?u=ae1fbeb3801174c1ec952ce8b&amp;id=d723ef8fe9" method="post" class="subscribe" target="_blank">
                <div class="form-group">
                  <label for="subscribe-rmeil">Name</label>
                  <input type="text" id="subscribe-email">
                </div>
                <div class="form-group">
                  <label for="subscribe-text">Email</label>
                  <input type="email" id="subscribe-text">
                </div>
                <div class="form-group" style="position: absolute; left: -5000px;">
                  <input type="text" name="b_ae1fbeb3801174c1ec952ce8b_d723ef8fe9" tabindex="-1" value="">
                </div>
                <button type="submit" class="btn btn-default">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="solution">
      <div class="container-fluid">
        <div class="row">
          <ul class="list-inline">
            <li><a href="https://github.com/synereo/"><img src="/img/social/github-iconGray.png"></a></li>
            <li><a href="http://www.reddit.com/r/synereo"><img src="/img/social/reddit_icon.png"></a></li>
            <li><a href="http://twitter.com/Synereo"><img src="/img/social/twitter_iconGray.png"></a></li>
            <li><a href="http://facebook.com/Synereo"><img src="/img/social/facebook_iconGray.png"></a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script></script>
  </body>
</html>
