<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Synereo - Learn More</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/learn-more.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".sidebar" data-offset="200">
    <nav class="sidebar">
      <!-- <div class="close">X</div> -->
      <ul class="nav" role="tablist">
        <li class="attention-economy attention-economy-h"><a href="#attention-economy">Attention Economy Model</a></li>
        <li class="attention-economy"><a href="#reo">Reo</a></li>
        <li class="attention-economy"><a href="#current">Current</a></li>
        <li class="attention-economy"><a href="#stream">Stream</a></li>
        <li class="attention-economy"><a href="#amps">AMPs</a></li>
        <li class="technology technology-h"><a href="#technology">Distributed Technology Stack</a></li>
        <li class="technology"><a href="#dendronet">DendroNet</a></li>
        <li class="technology"><a href="#specialk">SpecialK</a></li>
        <li class="technology"><a href="#extensibility">Extensibility</a></li>
        <li class="technology"><a href="#smart-contracts">Smart Contracts</a></li>
        <li class="technology"><a href="#censorship-resilience">Censorship Resilience</a></li>
        <li class="technology"><a href="#gateways">Gateways</a></li>
      </ul>
    </nav>

    {% include header.html %}

    <div class="attention-model">
      <section id="attention-economy" class="attention-model">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7 col-md-offset-2">
              <h2 class="blue">Attention Economy Model</h2>
              <p>Synereo is designed as a framework for managing the economy of attention. We create a "social brain" that optimizes your experience on the network, social or otherwise, by shaping the stream of information in ways that reflect what you and your social circle consider to be interesting and valuable. </p>
            </div>
          </div>
        </div>
        <div class="infographics">
          <!-- <img class="basic" src="/img/infographics/basic.png"> -->
          <img class="current" src="/img/infographics/current.png">
          <img class="reo" src="/img/infographics/reo.png" style="display: none;">
          <img class="stream" src="/img/infographics/stream.png" style="display: none;">
          <img class="amp" src="/img/infographics/amp.png" style="display: none;">
        </div>
      </section>

      <section id="current" class="current light-gray-gradient">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h3>Current</h3>
              <div class="extra-margin"><p><em>Current is a measure of the power of messages flowing through the Synereo network.</em> The stronger the Current, the more priority a message or post will receive in a user's stream. People recharge and even supercharge a message's Current when attending it, making it more likely to be seen by others after them. Current is primarily determined by the interacting users' Reo, and is also modulated by many other factors in Synereo's Attention Model.</p>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#subsection.2.2.3"><img src="/img/icons/whitepaper_blue.png">Whitepaper</a>
              <a class="link slides" href="https://docs.google.com/presentation/d/1MQ57q-ZraCBvx-pPFA-J-MpKN6v8AkUXtCaM79vU3L8/present?slide=id.g8de73098a_20"><img src="/img/icons/slides_blue.png">Slides</a></div>
            </div>
          </div>
        </div>
      </section>

      <section id="reo" class="reo dark-gray-gradient">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h3>Reo</h3>
              <p><em>Reo is a measure of your reputation as a publisher of attention-worthy content.</em> It is a tool for shaping the information flow around a social consensus. Reo is calculated from the point of view of each user as they receive information from another, changing based on the slice of the network they share with the user trying for their attention. This means that a person who has the attention of the peers in your community will have an easier time reaching you as well.</p>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#subsection.2.2.2"><img src="/img/icons/whitepaper_blue.png">Whitepaper</a>
              <a class="link slides" href="https://docs.google.com/presentation/d/12wZfRyF9XBMrc1ripXGfyNXCnO_MD7f2-Gc8AIa-v8o/pub?start=false&loop=false&slide=id.g4ecec4c43_30"><img src="/img/icons/slides_blue.png">Slides</a>

              <h3 id="stream">Stream</h3>
              <p><em>Messages and posts broadcast to you with different Currents essentially bid for your attention, becoming prioritized just for you in the process.</em> The Stream that is created is the basic information organizing mechanism in Synereo. Configuring the Stream is easy, affecting specific types of Current reaching you from different contacts, apps, and areas on the network. Feel like increasing the chances of seeing musical content? Just turn up the dial, and posts from Bandcamp receive a higher priority.</p>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#subsection.2.2.3"><img src="/img/icons/whitepaper_blue.png">Whitepaper</a>
            </div>
          </div>
        </div>
      </section>

      <section id="amps" class="amps">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h3>AMPs</h3>
              <p><em>Think your post deserves more attention than it can achieve organically?</em> AMPs, Synereo’s information flow currency, serve as a way to AMPlify your content's ability to propagate to peers and ups the chances of it being seen by more users - through increasing its Current. Users receiving Amplified content will receive a portion of the attached AMPs, more if their Reo score is high. If your content is Amplified, a portion of the AMPs will come to you as a reward!</p>
              <a class="link slides" href="https://docs.google.com/presentation/d/1MQ57q-ZraCBvx-pPFA-J-MpKN6v8AkUXtCaM79vU3L8/present?slide=id.g8de73098a_20"><img src="/img/icons/slides_white.png">Slides</a>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#subsection.2.2.2"><img src="/img/icons/whitepaper_white.png">Whitepaper</a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="technology">
      <section id="technology" class="technology">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7 col-md-offset-2">
              <h2>Distributed Technology Stack</h2>
              <p>Synereo's technology has been in development for four and a half years and represents the cutting edge of the peer to peer stack. With it, users are assured complete privacy, total identity ownership and data control, and even anonymity - if they seek it. The network has no single point of failure and is incredibly resilient to take-down attempts, as it allows any two or more peers to communicate directly.</p>
            </div>
          </div>
        </div>
        <div class="infographics">
          <img class="dendronet" src="/img/infographics/dendronet.png">
          <img class="specialk" src="/img/infographics/special-k.png" style="display: none;">
          <img class="extensibility" src="/img/infographics/extensibility.png" style="display: none;">
          <img class="smart" src="/img/infographics/smart.png" style="display: none;">
        </div>
      </section>

      <section id="dendronet" class="dendronet light-gray-gradient">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h3>DendroNet</h3>
              <p><em>The DEndron is Synereo's local consensus-keeping mechanism, decentralized ledger, and distributed content model.</em> Every user on Synereo has their own fraction of it, their Dendrite, maintaining a view of the part of the network relevant to them. A user's Dendrite is constantly updated with information received from peers: social information from friends, changing the Dendrite's affinity to them based on the attention model; meta-data and keys to encrypted data hosted on the SpecialK distributed cloud; and information saved on their Dendrite itself, used in the consensus-keeping process.</p>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#subsection.2.2.8"><img src="/img/icons/whitepaper_orange.png">Whitepaper</a>
            </div>
          </div>
        </div>
      </section>

      <section id="specialk" class="specialk dark-gray-gradient">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h3>SpecialK</h3>
              <div class="extra-margin"><p><em>SpecialK is the foundation upon which the Synereo network is built.</em> While SpecialK implements a distributed key-value store - not unlike DHT - SpecialK takes the Key/Value DB a step further and provides a monadic DSL for it, providing programmers with a familiar, unified API where they can access data distributed across the network. Data is distributed with both redundancy and sensitivity in mind, making sure it's available where it's needed, when it's needed.</p>
              <p>SpecialK is the brainchild of Lucius Greg Meredith, and has been under active development for the past 4.5 years. It is already deployed, powering other commercial distributed applications.</p>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#section.2.3"><img src="/img/icons/whitepaper_orange.png">Whitepaper</a>
              <a class="link blog" href="http://blog.synereo.com/2015/03/17/specialk-kvdb/"><img src="/img/icons/blog_orange.png">Blog</a>
              </div>

              <h3 id="extensibility">Extensibility</h3>
              <p><em>Synereo is open-source and very modular, designed to be extended in many ways.</em> Using Synereo's Network Model API and Attention Economy API, developers can extend the network in unimaginable ways, leveraging the power of the decentralized network and the attention model to create better, smarter applications. While the Network Model API enables developers to interact with the Synereo application layer, specify content policies, work with the Synereo node graph, and build tools to manage communities, the Attention Economy API provides the tools allowing the implementation of innovative protocols that enable the new era in social organization online.</p>
              <a class="link blog" href="http://blog.synereo.com/2015/03/02/extensibility/"><img src="/img/icons/blog_orange.png">Blog</a>
            </div>
          </div>
        </div>
      </section>

      <section id="smart-contracts" class="smart-contracts">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h3>Social Contracts</h3>
              <p><em>Synereo features a battle-tested, robust smart contracting mechanism that does not rely on global consensus.</em> In a decentralized, distributed network there is a natural and vital tension between the desire for reach and the desire for privacy.  Enforceable statements about the intent for how information is to flow provide the means to reconcile and harness this tension into a powerful force for social self organization and self determination. In Synereo, social contracts allow agents to state and enforce information flow policy. Policy statements are made independently and autonomously, yet can be assembled to define and determine the information flow policy of a collective. Policy can be checked for properties such as 'this group learns of an event before that one,' or 'everybody eventually gets notified of an important message.'</p>
              <p>Using properties, agents can check to see whether combined information flow policies fit with their aims and goals in order to decide when and how to participate in information/currency exchange with other agents and collectives. Among the many benefits,  this allows for just-in-time assembly of services without a global director or global coordinator.</p>
              <a class="link blog" href="http://blog.synereo.com/2015/03/06/social-contracts-pt-ii/"><img src="/img/icons/blog_white.png">Blog</a>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#subsection.2.2.9"><img src="/img/icons/whitepaper_white.png">Whitepaper</a>
            </div>
          </div>
        </div>
      </section>

      <section id="censorship-resilience" class="censorship-resilience dark-gray-gradient">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h3>Censorship Resilience</h3>
              <div class="extra-margin"><p>As a full-fledged peer-to-peer network, Synereo is resilient to censorship attacks carried out by anyone who is out to attempt to control the free flow of information. Centralized services can be coerced into cooperating with the powers-that-be; a true decentralized network cannot be censored. Taking down a peer-to-peer network means taking down the Internet in its entirety. With Synereo, your content is there for whomever wants to see it, and cannot be blocked.</p>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#section.2.4"><img src="/img/icons/whitepaper_orange.png">Whitepaper</a>
              </div>

              <h3 id="gateways">Gateways</h3>
              <p>While Synereo is a completely decentralized network, we understand that not everyone is able to deploy a personal Synereo node on their own computation device. To that end, Synereo will provide centralized gateways that enable end users to use and enjoy the benefits of the network without having to run and maintain a node. Gateways don't control or have access to your information, and should they go down, the key they send you upon account creation can be used to boot up your node (with all of your information) immediately if you download a client and plug the key in.</p>
              <a class="link whitepaper" href="http://www.synereo.com/whitepapers/synereo.pdf#subsection.2.5.1"><img src="/img/icons/whitepaper_orange.png">Whitepaper</a>
            </div>
          </div>
        </div>
      </section>
    </div>

    {% include footer.html %}

    <script src="/js/ext/skrollr.min.js"></script>
    <script>
      $(document).ready(function() {
        // var s = skrollr.init();
        $('nav.sidebar').affix({
          offset: {
            top: 60,
            bottom: function () {
              return (this.bottom = $('footer').outerHeight(true) + $('section.solution').outerHeight(true))
            }
          }
        });

        $("ul.nav li a[href^='#']").on('click', function(e) {
           e.preventDefault();
           var hash = this.hash;
           $('html, body').animate({
             scrollTop: $(hash).offset().top
           }, 300, function(){
             window.location.hash = hash;
           });
        });

        $('nav.sidebar div.close').click(function() {
          $('nav.sidebar').toggleClass('collapze');
        });

        //////// infographics affix stuff
        $window = $(window);

        // attention model infographics
        $clone = $('section.attention-model').clone();
        $clone.addClass('attention-model-fixed');
        $clone.insertAfter($('section.attention-model'));
        $clone.css({
          'position': 'fixed',
          'display': 'none',
          'top': $('section.attention-model div.infographics').height() - $('section.attention-model').height() - 90,
          'z-index': 100
        });

        // technology infographics
        $clone = $('section.technology').clone();
        $clone.addClass('technology-fixed');
        $clone.insertAfter($('section.technology'));
        $clone.css({
          'position': 'fixed',
          'display': 'none',
          'top': $('section.technology div.infographics').height() - $('section.technology').height() - 40,
          'z-index': 100
        });

        // event callback
        function update_infographics() {
          var scrolltop = $window.scrollTop();

          // attention model positioning
          var infographicstop = $('section.attention-model div.infographics').position().top;
          var infographicsheight = $('section.attention-model div.infographics').height();
          var techoffsettop = $('section.technology').offset().top;
          var $infographicsfixed = $('section.attention-model-fixed');

          if (scrolltop > infographicstop) {
            $infographicsfixed.show();
            $('section.attention-model div.infographics img').hide();

            if (scrolltop + infographicsheight - 250 > $('section.reo').offset().top) {
              if (scrolltop + infographicsheight - 250 > $('h3#stream').offset().top) {
                if (scrolltop + infographicsheight - 250 > $('section.amps').offset().top) {
                  $('section.attention-model div.infographics img.amp').show();
                }
                else {
                  $('section.attention-model div.infographics img.stream').show();
                }
              }
              else {
                $('section.attention-model div.infographics img.reo').show();
              }
            }
            else {
              $('section.attention-model div.infographics img.current').show();
            }


            if (scrolltop + infographicsheight > techoffsettop) {
              var affixoffset = scrolltop + infographicsheight - techoffsettop;
              $infographicsfixed.css({
                'top': $('section.attention-model div.infographics').height() - $('section.attention-model').height() - affixoffset - 100
              })
            }
          }

          if (scrolltop < infographicstop) {
            $infographicsfixed.hide();
          }

          // technology positioning
          var infographicstop = $('section.technology div.infographics').position().top;
          var infographicsheight = $('section.technology div.infographics').height();
          var footeroffsettop = $('section.censorship-resilience').offset().top;
          var $infographicsfixed = $('section.technology-fixed');

          if (scrolltop > infographicstop) {
            $infographicsfixed.show();

            $('section.technology div.infographics img').hide();

            if (scrolltop + infographicsheight - 250 > $('section.specialk').offset().top) {
              if (scrolltop + infographicsheight - 250 > $('h3#extensibility').offset().top) {
                if (scrolltop + infographicsheight - 250 > $('section.smart-contracts').offset().top) {
                  $('section.technology div.infographics img.smart').show();
                }
                else {
                  $('section.technology div.infographics img.extensibility').show();
                }
              }
              else {
                $('section.technology div.infographics img.specialk').show();
              }
            }
            else {
              $('section.technology div.infographics img.dendronet').show();
            }

            if (scrolltop + infographicsheight > footeroffsettop) {
              var affixoffset = scrolltop + infographicsheight - footeroffsettop;
              $infographicsfixed.css({
                'top': $('section.technology div.infographics').height() - $('section.technology').height() - 50 - affixoffset
              });
            }
          }

          if (scrolltop < infographicstop) {
            $infographicsfixed.hide();
          }

        }

        $window.bind('scroll', update_infographics).resize(update_infographics);

      })
    </script>
  </body>
</html>
